/*body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}*/

a {cursor: pointer;}

ul li.ul {
    list-style-type: none;
    background-image: url(/images/material-design-icons-master/hardware/svg/production/ic_keyboard_arrow_down_24px.svg);
    /*background-position: 0 0;
    background-size: 1.6rem 1.6rem;*/
    background-repeat: no-repeat;

    padding-left: 2rem;
    line-height: 24px;
    padding-left: 24px;
}

li {list-style-type: none;
    padding-left: 2rem;
    line-height: 24px;
    padding-left: 24px;
    }

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}


.link_light:hover {
  background: lightgrey;
}
.link_light {
  cursor: pointer; 
}
.link_dark:hover {
  background: lightblue;
}
.link_dark {
  cursor: pointer; 
  padding: 0.5em;
}